*

!.gitignore
!.python-version
!pyproject.toml
!uv.lock

!llama
!llama/**.py

!core
!core/**.py

!dumps
!dumps/**.json

!slurm
!slurm/**.py
!slurm/**.sh

!IDEAS.md
!README.md
!LOG.md

!data
!data/**
