*

!.gitignore
!.python-version
!pyproject.toml
!uv.lock

!llama
!llama/**.py

!core
!core/**.py

!dumps
!dumps/**.json
!dumps/**.jsonl
!dumps/**.parquet

!slurm
!slurm/**.py
!slurm/**.sh

!IDEAS.md
!README.md
!LOG.md

!data
!data/**

!repl
!repl/**repl.py

!figures
!figures/**.png
